<div class="row">
  <div class="span7">
    <h2>Rulers : <%= divided_date(@gvdate) %></h2>
  </div>
  <div class="span5">
    <%= render 'menu' %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <hr/>
  </div>
</div>
<% gtables = @guilds.inject({}){|h, g| h[g.guild_name] = g; h}  %>
<div class="row">
  <div class="span12">
    <table class="table-striped table-bordered">
      <thead>
        <tr>
          <th class="span2"><br/></th>
          <th class="span3">1</th>
          <th class="span3">2</th>
          <th class="span3">3</th>
          <th class="span3">4</th>
          <th class="span3">5</th>
        </tr>
      </thead>
      <tbody>
        <% fort_groups.each do |fort| %>
          <tr>
            <th class="span2"><%= fort %></th>
            <% fort_nums.each do |num| %>
              <% r = @rulers["#{fort}#{num}"]
              if r %>
                <td class="span3">
                  <p>
                    <small class="muted"><%= r.fort_name %></small><br/>
                    <strong><%= r.guild_name %></strong><br>
                    <small class="muted">called : <%= g = gtables[r.guild_name]; g ? g.called_count : 0%></small>
                  </p>
                </td>
              <% else %>
                <td class="span3">-</td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% before = before_view_date(@gvdates, @gvdate); after = after_view_date(@gvdates, @gvdate) %>
<div class="row">
  <div class="span12 text-center">
    <div class="btn-toolbar">
      <div class="btn-group">
        <% if before %>
          <%= link_to raw("&laquo; #{divided_date(before)}"), result_path(before), :class => "btn btn-primary" %>
        <% else %>
          <button class="btn disabled">&laquo &nbsp;&nbsp;&nbsp;Prev&nbsp;&nbsp;&nbsp;</button>
        <% end %>
      </div>
      <div class="btn-group">
        <%= link_to "Top", root_path, :class => "btn btn-info" %>
      </div>
      <div class="btn-group">
        <% if after %>
        <%= link_to raw("#{divided_date(after)} &raquo;"), result_path(after), :class => "btn btn-primary" %>
        <% else %>
          <button class="btn disabled">&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp; &raquo;</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
